	/*
  	fl icon font: fl
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "fl";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fl";
    src: url("./Flaticon.svg#fl") format("svg");
  }
}

[class^="fl-"]:before, [class*=" fl-"]:before,
[class^="fl-"]:after, [class*=" fl-"]:after {   
  font-family: fl;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.fl-add:before { content: "\f100"; }
.fl-add-1:before { content: "\f101"; }
.fl-add-2:before { content: "\f102"; }
.fl-add-3:before { content: "\f103"; }
.fl-agenda:before { content: "\f104"; }
.fl-alarm:before { content: "\f105"; }
.fl-alarm-1:before { content: "\f106"; }
.fl-alarm-clock:before { content: "\f107"; }
.fl-alarm-clock-1:before { content: "\f108"; }
.fl-albums:before { content: "\f109"; }
.fl-app:before { content: "\f10a"; }
.fl-archive:before { content: "\f10b"; }
.fl-archive-1:before { content: "\f10c"; }
.fl-archive-2:before { content: "\f10d"; }
.fl-archive-3:before { content: "\f10e"; }
.fl-attachment:before { content: "\f10f"; }
.fl-back:before { content: "\f110"; }
.fl-battery:before { content: "\f111"; }
.fl-battery-1:before { content: "\f112"; }
.fl-battery-2:before { content: "\f113"; }
.fl-battery-3:before { content: "\f114"; }
.fl-battery-4:before { content: "\f115"; }
.fl-battery-5:before { content: "\f116"; }
.fl-battery-6:before { content: "\f117"; }
.fl-battery-7:before { content: "\f118"; }
.fl-battery-8:before { content: "\f119"; }
.fl-battery-9:before { content: "\f11a"; }
.fl-binoculars:before { content: "\f11b"; }
.fl-blueprint:before { content: "\f11c"; }
.fl-bluetooth:before { content: "\f11d"; }
.fl-bluetooth-1:before { content: "\f11e"; }
.fl-bookmark:before { content: "\f11f"; }
.fl-bookmark-1:before { content: "\f120"; }
.fl-briefcase:before { content: "\f121"; }
.fl-broken-link:before { content: "\f122"; }
.fl-calculator:before { content: "\f123"; }
.fl-calculator-1:before { content: "\f124"; }
.fl-calendar:before { content: "\f125"; }
.fl-calendar-1:before { content: "\f126"; }
.fl-calendar-2:before { content: "\f127"; }
.fl-calendar-3:before { content: "\f128"; }
.fl-calendar-4:before { content: "\f129"; }
.fl-calendar-5:before { content: "\f12a"; }
.fl-calendar-6:before { content: "\f12b"; }
.fl-calendar-7:before { content: "\f12c"; }
.fl-checked:before { content: "\f12d"; }
.fl-checked-1:before { content: "\f12e"; }
.fl-clock:before { content: "\f12f"; }
.fl-clock-1:before { content: "\f130"; }
.fl-close:before { content: "\f131"; }
.fl-cloud:before { content: "\f132"; }
.fl-cloud-computing:before { content: "\f133"; }
.fl-cloud-computing-1:before { content: "\f134"; }
.fl-cloud-computing-2:before { content: "\f135"; }
.fl-cloud-computing-3:before { content: "\f136"; }
.fl-cloud-computing-4:before { content: "\f137"; }
.fl-cloud-computing-5:before { content: "\f138"; }
.fl-command:before { content: "\f139"; }
.fl-compact-disc:before { content: "\f13a"; }
.fl-compact-disc-1:before { content: "\f13b"; }
.fl-compact-disc-2:before { content: "\f13c"; }
.fl-compass:before { content: "\f13d"; }
.fl-compose:before { content: "\f13e"; }
.fl-controls:before { content: "\f13f"; }
.fl-controls-1:before { content: "\f140"; }
.fl-controls-2:before { content: "\f141"; }
.fl-controls-3:before { content: "\f142"; }
.fl-controls-4:before { content: "\f143"; }
.fl-controls-5:before { content: "\f144"; }
.fl-controls-6:before { content: "\f145"; }
.fl-controls-7:before { content: "\f146"; }
.fl-controls-8:before { content: "\f147"; }
.fl-controls-9:before { content: "\f148"; }
.fl-database:before { content: "\f149"; }
.fl-database-1:before { content: "\f14a"; }
.fl-database-2:before { content: "\f14b"; }
.fl-database-3:before { content: "\f14c"; }
.fl-diamond:before { content: "\f14d"; }
.fl-diploma:before { content: "\f14e"; }
.fl-dislike:before { content: "\f14f"; }
.fl-dislike-1:before { content: "\f150"; }
.fl-divide:before { content: "\f151"; }
.fl-divide-1:before { content: "\f152"; }
.fl-division:before { content: "\f153"; }
.fl-document:before { content: "\f154"; }
.fl-download:before { content: "\f155"; }
.fl-edit:before { content: "\f156"; }
.fl-edit-1:before { content: "\f157"; }
.fl-eject:before { content: "\f158"; }
.fl-eject-1:before { content: "\f159"; }
.fl-equal:before { content: "\f15a"; }
.fl-equal-1:before { content: "\f15b"; }
.fl-equal-2:before { content: "\f15c"; }
.fl-error:before { content: "\f15d"; }
.fl-exit:before { content: "\f15e"; }
.fl-exit-1:before { content: "\f15f"; }
.fl-exit-2:before { content: "\f160"; }
.fl-eyeglasses:before { content: "\f161"; }
.fl-fast-forward:before { content: "\f162"; }
.fl-fast-forward-1:before { content: "\f163"; }
.fl-fax:before { content: "\f164"; }
.fl-file:before { content: "\f165"; }
.fl-file-1:before { content: "\f166"; }
.fl-file-2:before { content: "\f167"; }
.fl-film:before { content: "\f168"; }
.fl-fingerprint:before { content: "\f169"; }
.fl-flag:before { content: "\f16a"; }
.fl-flag-1:before { content: "\f16b"; }
.fl-flag-2:before { content: "\f16c"; }
.fl-flag-3:before { content: "\f16d"; }
.fl-flag-4:before { content: "\f16e"; }
.fl-focus:before { content: "\f16f"; }
.fl-folder:before { content: "\f170"; }
.fl-folder-1:before { content: "\f171"; }
.fl-folder-10:before { content: "\f172"; }
.fl-folder-11:before { content: "\f173"; }
.fl-folder-12:before { content: "\f174"; }
.fl-folder-13:before { content: "\f175"; }
.fl-folder-14:before { content: "\f176"; }
.fl-folder-15:before { content: "\f177"; }
.fl-folder-16:before { content: "\f178"; }
.fl-folder-17:before { content: "\f179"; }
.fl-folder-18:before { content: "\f17a"; }
.fl-folder-19:before { content: "\f17b"; }
.fl-folder-2:before { content: "\f17c"; }
.fl-folder-3:before { content: "\f17d"; }
.fl-folder-4:before { content: "\f17e"; }
.fl-folder-5:before { content: "\f17f"; }
.fl-folder-6:before { content: "\f180"; }
.fl-folder-7:before { content: "\f181"; }
.fl-folder-8:before { content: "\f182"; }
.fl-folder-9:before { content: "\f183"; }
.fl-forbidden:before { content: "\f184"; }
.fl-funnel:before { content: "\f185"; }
.fl-garbage:before { content: "\f186"; }
.fl-garbage-1:before { content: "\f187"; }
.fl-garbage-2:before { content: "\f188"; }
.fl-gift:before { content: "\f189"; }
.fl-help:before { content: "\f18a"; }
.fl-hide:before { content: "\f18b"; }
.fl-hold:before { content: "\f18c"; }
.fl-home:before { content: "\f18d"; }
.fl-home-1:before { content: "\f18e"; }
.fl-home-2:before { content: "\f18f"; }
.fl-hourglass:before { content: "\f190"; }
.fl-hourglass-1:before { content: "\f191"; }
.fl-hourglass-2:before { content: "\f192"; }
.fl-hourglass-3:before { content: "\f193"; }
.fl-house:before { content: "\f194"; }
.fl-id-card:before { content: "\f195"; }
.fl-id-card-1:before { content: "\f196"; }
.fl-id-card-2:before { content: "\f197"; }
.fl-id-card-3:before { content: "\f198"; }
.fl-id-card-4:before { content: "\f199"; }
.fl-id-card-5:before { content: "\f19a"; }
.fl-idea:before { content: "\f19b"; }
.fl-incoming:before { content: "\f19c"; }
.fl-infinity:before { content: "\f19d"; }
.fl-info:before { content: "\f19e"; }
.fl-internet:before { content: "\f19f"; }
.fl-key:before { content: "\f1a0"; }
.fl-lamp:before { content: "\f1a1"; }
.fl-layers:before { content: "\f1a2"; }
.fl-layers-1:before { content: "\f1a3"; }
.fl-like:before { content: "\f1a4"; }
.fl-like-1:before { content: "\f1a5"; }
.fl-like-2:before { content: "\f1a6"; }
.fl-link:before { content: "\f1a7"; }
.fl-list:before { content: "\f1a8"; }
.fl-list-1:before { content: "\f1a9"; }
.fl-lock:before { content: "\f1aa"; }
.fl-lock-1:before { content: "\f1ab"; }
.fl-locked:before { content: "\f1ac"; }
.fl-locked-1:before { content: "\f1ad"; }
.fl-locked-2:before { content: "\f1ae"; }
.fl-locked-3:before { content: "\f1af"; }
.fl-locked-4:before { content: "\f1b0"; }
.fl-locked-5:before { content: "\f1b1"; }
.fl-locked-6:before { content: "\f1b2"; }
.fl-login:before { content: "\f1b3"; }
.fl-magic-wand:before { content: "\f1b4"; }
.fl-magnet:before { content: "\f1b5"; }
.fl-magnet-1:before { content: "\f1b6"; }
.fl-magnet-2:before { content: "\f1b7"; }
.fl-map:before { content: "\f1b8"; }
.fl-map-1:before { content: "\f1b9"; }
.fl-map-2:before { content: "\f1ba"; }
.fl-map-location:before { content: "\f1bb"; }
.fl-megaphone:before { content: "\f1bc"; }
.fl-megaphone-1:before { content: "\f1bd"; }
.fl-menu:before { content: "\f1be"; }
.fl-menu-1:before { content: "\f1bf"; }
.fl-menu-2:before { content: "\f1c0"; }
.fl-menu-3:before { content: "\f1c1"; }
.fl-menu-4:before { content: "\f1c2"; }
.fl-microphone:before { content: "\f1c3"; }
.fl-microphone-1:before { content: "\f1c4"; }
.fl-minus:before { content: "\f1c5"; }
.fl-minus-1:before { content: "\f1c6"; }
.fl-more:before { content: "\f1c7"; }
.fl-more-1:before { content: "\f1c8"; }
.fl-more-2:before { content: "\f1c9"; }
.fl-multiply:before { content: "\f1ca"; }
.fl-multiply-1:before { content: "\f1cb"; }
.fl-music-player:before { content: "\f1cc"; }
.fl-music-player-1:before { content: "\f1cd"; }
.fl-music-player-2:before { content: "\f1ce"; }
.fl-music-player-3:before { content: "\f1cf"; }
.fl-mute:before { content: "\f1d0"; }
.fl-muted:before { content: "\f1d1"; }
.fl-navigation:before { content: "\f1d2"; }
.fl-navigation-1:before { content: "\f1d3"; }
.fl-network:before { content: "\f1d4"; }
.fl-newspaper:before { content: "\f1d5"; }
.fl-next:before { content: "\f1d6"; }
.fl-note:before { content: "\f1d7"; }
.fl-notebook:before { content: "\f1d8"; }
.fl-notebook-1:before { content: "\f1d9"; }
.fl-notebook-2:before { content: "\f1da"; }
.fl-notebook-3:before { content: "\f1db"; }
.fl-notebook-4:before { content: "\f1dc"; }
.fl-notebook-5:before { content: "\f1dd"; }
.fl-notepad:before { content: "\f1de"; }
.fl-notepad-1:before { content: "\f1df"; }
.fl-notepad-2:before { content: "\f1e0"; }
.fl-notification:before { content: "\f1e1"; }
.fl-paper-plane:before { content: "\f1e2"; }
.fl-paper-plane-1:before { content: "\f1e3"; }
.fl-pause:before { content: "\f1e4"; }
.fl-pause-1:before { content: "\f1e5"; }
.fl-percent:before { content: "\f1e6"; }
.fl-percent-1:before { content: "\f1e7"; }
.fl-perspective:before { content: "\f1e8"; }
.fl-photo-camera:before { content: "\f1e9"; }
.fl-photo-camera-1:before { content: "\f1ea"; }
.fl-photos:before { content: "\f1eb"; }
.fl-picture:before { content: "\f1ec"; }
.fl-picture-1:before { content: "\f1ed"; }
.fl-picture-2:before { content: "\f1ee"; }
.fl-pin:before { content: "\f1ef"; }
.fl-placeholder:before { content: "\f1f0"; }
.fl-placeholder-1:before { content: "\f1f1"; }
.fl-placeholder-2:before { content: "\f1f2"; }
.fl-placeholder-3:before { content: "\f1f3"; }
.fl-placeholders:before { content: "\f1f4"; }
.fl-play-button:before { content: "\f1f5"; }
.fl-play-button-1:before { content: "\f1f6"; }
.fl-plus:before { content: "\f1f7"; }
.fl-power:before { content: "\f1f8"; }
.fl-previous:before { content: "\f1f9"; }
.fl-price-tag:before { content: "\f1fa"; }
.fl-print:before { content: "\f1fb"; }
.fl-push-pin:before { content: "\f1fc"; }
.fl-radar:before { content: "\f1fd"; }
.fl-reading:before { content: "\f1fe"; }
.fl-record:before { content: "\f1ff"; }
.fl-repeat:before { content: "\f200"; }
.fl-repeat-1:before { content: "\f201"; }
.fl-restart:before { content: "\f202"; }
.fl-resume:before { content: "\f203"; }
.fl-rewind:before { content: "\f204"; }
.fl-rewind-1:before { content: "\f205"; }
.fl-route:before { content: "\f206"; }
.fl-save:before { content: "\f207"; }
.fl-search:before { content: "\f208"; }
.fl-search-1:before { content: "\f209"; }
.fl-send:before { content: "\f20a"; }
.fl-server:before { content: "\f20b"; }
.fl-server-1:before { content: "\f20c"; }
.fl-server-2:before { content: "\f20d"; }
.fl-server-3:before { content: "\f20e"; }
.fl-settings:before { content: "\f20f"; }
.fl-settings-1:before { content: "\f210"; }
.fl-settings-2:before { content: "\f211"; }
.fl-settings-3:before { content: "\f212"; }
.fl-settings-4:before { content: "\f213"; }
.fl-settings-5:before { content: "\f214"; }
.fl-settings-6:before { content: "\f215"; }
.fl-settings-7:before { content: "\f216"; }
.fl-settings-8:before { content: "\f217"; }
.fl-settings-9:before { content: "\f218"; }
.fl-share:before { content: "\f219"; }
.fl-share-1:before { content: "\f21a"; }
.fl-share-2:before { content: "\f21b"; }
.fl-shuffle:before { content: "\f21c"; }
.fl-shuffle-1:before { content: "\f21d"; }
.fl-shutdown:before { content: "\f21e"; }
.fl-sign:before { content: "\f21f"; }
.fl-sign-1:before { content: "\f220"; }
.fl-skip:before { content: "\f221"; }
.fl-smartphone:before { content: "\f222"; }
.fl-smartphone-1:before { content: "\f223"; }
.fl-smartphone-10:before { content: "\f224"; }
.fl-smartphone-11:before { content: "\f225"; }
.fl-smartphone-2:before { content: "\f226"; }
.fl-smartphone-3:before { content: "\f227"; }
.fl-smartphone-4:before { content: "\f228"; }
.fl-smartphone-5:before { content: "\f229"; }
.fl-smartphone-6:before { content: "\f22a"; }
.fl-smartphone-7:before { content: "\f22b"; }
.fl-smartphone-8:before { content: "\f22c"; }
.fl-smartphone-9:before { content: "\f22d"; }
.fl-speaker:before { content: "\f22e"; }
.fl-speaker-1:before { content: "\f22f"; }
.fl-speaker-2:before { content: "\f230"; }
.fl-speaker-3:before { content: "\f231"; }
.fl-speaker-4:before { content: "\f232"; }
.fl-speaker-5:before { content: "\f233"; }
.fl-speaker-6:before { content: "\f234"; }
.fl-speaker-7:before { content: "\f235"; }
.fl-speaker-8:before { content: "\f236"; }
.fl-spotlight:before { content: "\f237"; }
.fl-star:before { content: "\f238"; }
.fl-star-1:before { content: "\f239"; }
.fl-stop:before { content: "\f23a"; }
.fl-stop-1:before { content: "\f23b"; }
.fl-stopwatch:before { content: "\f23c"; }
.fl-stopwatch-1:before { content: "\f23d"; }
.fl-stopwatch-2:before { content: "\f23e"; }
.fl-stopwatch-3:before { content: "\f23f"; }
.fl-stopwatch-4:before { content: "\f240"; }
.fl-street:before { content: "\f241"; }
.fl-street-1:before { content: "\f242"; }
.fl-substract:before { content: "\f243"; }
.fl-substract-1:before { content: "\f244"; }
.fl-success:before { content: "\f245"; }
.fl-switch:before { content: "\f246"; }
.fl-switch-1:before { content: "\f247"; }
.fl-switch-2:before { content: "\f248"; }
.fl-switch-3:before { content: "\f249"; }
.fl-switch-4:before { content: "\f24a"; }
.fl-switch-5:before { content: "\f24b"; }
.fl-switch-6:before { content: "\f24c"; }
.fl-switch-7:before { content: "\f24d"; }
.fl-tabs:before { content: "\f24e"; }
.fl-tabs-1:before { content: "\f24f"; }
.fl-target:before { content: "\f250"; }
.fl-television:before { content: "\f251"; }
.fl-television-1:before { content: "\f252"; }
.fl-time:before { content: "\f253"; }
.fl-trash:before { content: "\f254"; }
.fl-umbrella:before { content: "\f255"; }
.fl-unlink:before { content: "\f256"; }
.fl-unlocked:before { content: "\f257"; }
.fl-unlocked-1:before { content: "\f258"; }
.fl-unlocked-2:before { content: "\f259"; }
.fl-upload:before { content: "\f25a"; }
.fl-user:before { content: "\f25b"; }
.fl-user-1:before { content: "\f25c"; }
.fl-user-2:before { content: "\f25d"; }
.fl-user-3:before { content: "\f25e"; }
.fl-user-4:before { content: "\f25f"; }
.fl-user-5:before { content: "\f260"; }
.fl-user-6:before { content: "\f261"; }
.fl-user-7:before { content: "\f262"; }
.fl-users:before { content: "\f263"; }
.fl-users-1:before { content: "\f264"; }
.fl-video-camera:before { content: "\f265"; }
.fl-video-camera-1:before { content: "\f266"; }
.fl-video-player:before { content: "\f267"; }
.fl-video-player-1:before { content: "\f268"; }
.fl-video-player-2:before { content: "\f269"; }
.fl-view:before { content: "\f26a"; }
.fl-view-1:before { content: "\f26b"; }
.fl-view-2:before { content: "\f26c"; }
.fl-volume-control:before { content: "\f26d"; }
.fl-volume-control-1:before { content: "\f26e"; }
.fl-warning:before { content: "\f26f"; }
.fl-wifi:before { content: "\f270"; }
.fl-wifi-1:before { content: "\f271"; }
.fl-windows:before { content: "\f272"; }
.fl-windows-1:before { content: "\f273"; }
.fl-windows-2:before { content: "\f274"; }
.fl-windows-3:before { content: "\f275"; }
.fl-windows-4:before { content: "\f276"; }
.fl-wireless-internet:before { content: "\f277"; }
.fl-worldwide:before { content: "\f278"; }
.fl-worldwide-1:before { content: "\f279"; }
.fl-zoom-in:before { content: "\f27a"; }
.fl-zoom-out:before { content: "\f27b"; }