.display-table{
	display: table;
}
.display-table-cell{
	display: table-cell;
}
.vertical-align-middle{
	vertical-align: middle;
}


p:last-of-type{
	margin-bottom: 0;
}
.last-p-mb0 p:last-of-type{
	margin-bottom: 0;
}
.first-h4-mb0 h4:first-of-type{
	margin-bottom: 0;
}


.font-300{
	font-weight: 300;
}
.font-400{
	font-weight: 400;
}
.font-500{
	font-weight: 500;
}
.font-600{
	font-weight: 600;
}
.font-700{
	font-weight: 700;
}
.font-800{
	font-weight: 800;
}

